<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Photostock</title>


</head>
<body>
<h1>Welcome to photostock!</h1>

<form action="/upload" method="POST" enctype="multipart/form-data">
    <div class="custom-file mb-3">
        <input type="file" name="file" id="file" class="custom-file-input">
        <label for="file" class="custom-file-label">Choose File</label>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary btn-block">
</form>
<% if(files){ %>
<% files.forEach(function(file) { %>
<div class="card card-body mb-3">
    <% if(file.isImage) { %>
    <img src="/image/<%= file.filename %>" alt="">
    <% } else { %>
    <%= file.filename %>
    <% } %>
</div>
<% }) %>
<% } else { %>
<p>No files to show</p>
<% } %>
</body>
</html>